<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Archetype Created Web Application</display-name>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <el-ignored>false</el-ignored>
    </jsp-property-group>
  </jsp-config>
  <servlet>
    <description></description>
    <display-name>FormTermoAditivoServlet</display-name>
    <servlet-name>FormTermoAditivoServlet</servlet-name>
    <servlet-class>br.cefetrj.sisgee.view.FormTermoAditivoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormTermoAditivoServlet</servlet-name>
    <url-pattern>/FormTermoAditivoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IncluirTermoAditivoServlet</display-name>
    <servlet-name>IncluirTermoAditivoServlet</servlet-name>
    <servlet-class>br.cefetrj.sisgee.view.IncluirTermoAditivoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IncluirTermoAditivoServlet</servlet-name>
    <url-pattern>/IncluirTermoAditivoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidaTermoAditivoServlet</display-name>
    <servlet-name>ValidaTermoAditivoServlet</servlet-name>
    <servlet-class>br.cefetrj.sisgee.view.ValidaTermoAditivoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidaTermoAditivoServlet</servlet-name>
    <url-pattern>/ValidaTermoAditivoServlet</url-pattern>
  </servlet-mapping>
</web-app>